<%- include("../layout/admin/header.ejs") -%>
    <div class="screen-overlay"></div>
   
                        <!-- SIDE NAV START -->
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/dashboard" class="brand-wrap">
            <img src="assets/imgs/theme/JPG.jpg" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i
                    class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/customers">
                    <i class="icon material-icons md-group"></i>
                    <span class="text">Customers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category">
                    <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/returns">
                    <i class="icon material-icons md-settings_backup_restore"></i>
                    <span class="text">Return</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-add_circle"></i>
                    <span class="text">Coupon</span>
                </a>
            </li>
       
            <li class="menu-item">
                <a class="menu-link" disabled href="/admin/offer">
                    <i class="icon material-icons md-percent">&#37;</i>
                    <span class="text">Offer</span>
                </a>
            </li>
            


        </ul>
        <br />
        <br />
    </nav>
</aside>

                        <!-- SIDE NAV END -->
        <main class="main-wrap">
            <%- include("../layout/admin/navbar.ejs") -%>

                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Order List</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <header class="card-header">
                            <div class="row gx-3">
                                <div class="col-md-6">
                                    <!-- Add user details here, you can customize this section -->
                                    <h4><strong>User Details</strong></h4>
                                    <p><strong>Name :</strong>
                                        <%= order.deliveryAddress.name %>
                                    </p>
                                    <p><strong>Email : </strong>
                                        <%= order.userId.email %>
                                    </p>
                                    <p> Address : <%= order.deliveryAddress.city %>, <%=order.deliveryAddress.state %>,
                                                <%= order.deliveryAddress.pin %>
                                    </p>
                                </div>
                                <div class="col-lg-4 col-md-6 me-auto" style="margin-left: 2rem; margin-top: 2rem;">
                                    <input type="text" placeholder="Search..." class="form-control" />
                                </div>
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="card-body" id="Reload">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Payment</th>
                                            <th scope="col">Qun</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Action</th>
                                            <th scope="col" class="text-end">Cansel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.products.forEach((value,index)=>{ %>
                                            <tr>
                                                <td>
                                                    <%= index + 1 %>
                                                </td>

                                                <td>
                                                    <div class="itemside">
                                                        <div class="left">
                                                            <img src="/admin/assets/images/product/sharpedproduct/<%= value.productId.image[0] %>"
                                                                class="img-sm img-thumbnail" alt="Item" />
                                                        </div>

                                                    </div>
                                                </td>
                                                <td>
                                                    <%= order.deliveryAddress.name %>
                                                </td>
                                                <td>
                                                    <%= order.paymentMethod %>
                                                </td>
                                                <td>
                                                    <%= value.quantity %>
                                                </td>

                                                <td>
                                                    <%= value.price %>
                                                </td>
                                                <% if(value.status=="cancelled" ){ %>
                                                    <td><span class="badge rounded-pill alert-danger">
                                                            <%= value.status %>
                                                        </span></td>
                                                    <% }else if(value.status=="returnRequested" ){ %>
                                                        <td><span class="badge rounded-pill alert-warning">
                                                                <%= value.status %>
                                                            </span></td>
                                                        <% }else{ %>
                                                            <td><span class="badge rounded-pill alert-success">
                                                                    <%= value.status %>
                                                                </span></td>
                                                            <% } %>


                                                                <td>
                                                                    <%= order.date.toLocaleString('en-US', {
                                                                        weekday: 'short' , month: 'short' ,
                                                                        day: 'numeric' , year: 'numeric' ,
                                                                        hour: 'numeric' , minute: 'numeric' ,
                                                                        second: 'numeric' , hour12: true }) %>
                                                                </td>
                                                                <% if(value.status=="delivered" ){ %>
                                                                    <td> <select class="form-select orderStatus"
                                                                            id="orderStatus" name="orderStatus">
                                                                            <option>Delivered</option>
                                                                        </select></td>
                                                                    <% } else if(value.status=="cancelled" ){ %>
                                                                        <td> <select class="form-select orderStatus"
                                                                                id="orderStatus" name="orderStatus">
                                                                                <option>Cancelled</option>
                                                                            </select></td>
                                                                        <% } else if(value.status=="returnRequested" ){
                                                                            %>
                                                                            <td> <select class="form-select orderStatus"
                                                                                    id="orderStatus" name="orderStatus">
                                                                                    <option>ReturnRequested</option>
                                                                                </select></td>
                                                                            <% } else{ %>
                                                                                <td> <select
                                                                                        data-orderId="<%= order._id %>"
                                                                                        data-productId="<%= value._id %>"
                                                                                        data-userId="<%= order.userId %>"
                                                                                        class="form-select orderStatus"
                                                                                        id="orderStatus"
                                                                                        name="orderStatus"
                                                                                        onchange="changeStatus(this)">
                                                                                        <option>change status</option>
                                                                                        <option value="shipped">Shipped
                                                                                        </option>
                                                                                        <option value="outfordelivery">
                                                                                            OutForDelivery</option>
                                                                                        <option value="delivered">
                                                                                            Delivered</option>
                                                                                    </select></td>
                                                                                <% } %>
                                                                                    <% if(value.status=='cancelled' ){
                                                                                        %>
                                                                                        <td class="text-end"><strong
                                                                                                style="color: maroon;">canceled</strong>
                                                                                        </td>
                                                                                        <% } else if(
                                                                                            value.status=='delivered' )
                                                                                            { %>
                                                                                            <td class="text-end">
                                                                                                <h5 onclick="returnOrder()"
                                                                                                    style="color: rgba(34, 156, 65, 0.767);">
                                                                                                    Delivered</h5>
                                                                                            </td>
                                                                                            <% } else
                                                                                                if(value.status=="returnRequested"
                                                                                                ){ %>
                                                                                                <td class="text-end">
                                                                                                    <h5 onclick="returnOrder()"
                                                                                                        style="color: rgba(163, 15, 15, 0.767);">
                                                                                                        Requested</h5>
                                                                                                </td>
                                                                                                <% } else {%>
                                                                                                    <td
                                                                                                        class="text-end">
                                                                                                        <button
                                                                                                            type="button"
                                                                                                            class="btn btn-sm btn-danger rounded font-sm mt-15"
                                                                                                            onclick="cancel('<%= value._id %>', '<%= order._id %>')">
                                                                                                            Cansel
                                                                                                        </button>
                                                                                                    </td>
                                                                                                    <% } %>
                                            </tr>
                                            <% }) %>

                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>
                        <!-- card-body end// -->
                    </div>



                    <script>
                        function cancel(productId, orderId) {
                            const data = { productId: productId, orderId: orderId };
                            Swal.fire({
                                icon: "warning",
                                title: "Are you sure?",
                                showCancelButton: true,
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes!',
                                confirmButtonColor: '#3085d6'
                            }).then((response) => {
                                if (response.isConfirmed) {
                                    fetch('/admin/cancelOrder', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(data)
                                    })
                                        .then((reselt) => {
                                            if (reselt.ok) {
                                                Swal.fire({
                                                    icon: 'success',
                                                    title: 'Canceled'
                                                })
                                                window.location.reload();
                                            }
                                        })
                                }
                            });
                        }




                        function changeStatus(select) {
                            let orderId = select.dataset.orderid;
                            let productId = select.dataset.productid;
                            let status = select.value;
                            let userId = select.dataset.userid;
                            const data = { orderId, productId, status, userId }
                            fetch('/admin/changeOrderStatus', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            }).then((data) => data.json())
                                .then((response) => {
                                    if (response.ok) {
                                        window.location.reload();
                                    }
                                })
                        }
                    </script>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



                    <%- include("../layout/admin/footer.ejs") -%>