<%- include("../layout/admin/header.ejs") -%>


    <div class="screen-overlay"></div>
    
                        <!-- SIDE NAV START -->
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/dashboard" class="brand-wrap">
            <img src="assets/imgs/theme/JPG.jpg" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i
                    class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/customers">
                    <i class="icon material-icons md-group"></i>
                    <span class="text">Customers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category">
                    <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/returns">
                    <i class="icon material-icons md-settings_backup_restore"></i>
                    <span class="text">Return</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-add_circle"></i>
                    <span class="text">Coupon</span>
                </a>
            </li>
       
            <li class="menu-item">
                <a class="menu-link" disabled href="/admin/offer">
                    <i class="icon material-icons md-percent">&#37;</i>
                    <span class="text">Offer</span>
                </a>
            </li>
            


        </ul>
        <br />
        <br />
    </nav>
</aside>

                        <!-- SIDE NAV END -->
    <main class="main-wrap">
        <%- include("../layout/admin/navbar.ejs") -%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard</h2>
                        <p>Whole data about your business here</p>
                    </div>
                    <div>
                        <a href="/admin/salesreport" class="btn btn-primary"><i
                                class="text-muted material-icons md-post_add"></i>Sales report</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                        class="text-primary material-icons md-monetization">&#8377;</i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Revenue</h6>
                                    <span><%= totalRevenue %></span>
                                    <span class="text-sm"> Shipping fees are not included </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i
                                        class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Orders</h6>
                                    <span>
                                        <%= orderscount %>
                                    </span>
                                    <span class="text-sm"> Excluding orders in transit </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                        class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6>
                                    <span><%= productscount %></span>
                                    <span class="text-sm"> In 19 Categories </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i
                                        class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Monthly Earning</h6>
                                    <span> ₹ <%= currentMonthRevenue %></span>
                                    <span class="text-sm"> Based in your local time. </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-15 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Sale statistics</h5>
                                <canvas id="myChart" height="120px"></canvas>
                            </article>
                            
                            <input type="hidden" id="revenueData" value='<%= JSON.stringify(monthlyEarnings.map(m => m.totalRevenue)) %>'>
                            <input type="hidden" id="ordersData" value='<%= JSON.stringify(monthlyEarnings.map(m => m.count)) %>'>
                            <input type="hidden" id="usersData" value='<%= JSON.stringify(monthlyUserCounts.map(m => m.count)) %>'>

                        </div>
                        <div class="row">
                           
                           
                            <div class="col-lg-7" style="display: flex;">
                                <div class="card mb-4">
                                    <article class="card-body">
                                        <h5 class="card-title">TOP 5 PRODUCTS</h5>
                                        <ul class="verti-timeline list-unstyled font-sm">
                                            <% if(topProducts.length<1){ %>
                                                <h1><strong>NO ORDERS</strong></h1>
                                                <% }else{ %>
                                            <% topProducts.forEach((value)=>{ %>
                                            <li class="event-list">
                                                <div class="event-timeline-dot">
                                                    <i class="material-icons md-play_circle_outline font-xxl"></i>
                                                </div>
                                                <div class="media">
                                                    <div class="me-3">
                                                        <img src="/admin/assets/images/product/sharpedproduct/<%= value.productImg[0] %>" class="img-sm img-thumbnail" alt="Item" />
                                                    </div>
                                                    <div class="media-body">
                                                        <h6> <strong><%= value.productName %></strong></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <% }) %>
                                            <% } %>
                                        </ul>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="card mb-4">
                                    <article class="card-body">
                                        <h5 class="card-title">TOP 5 CATEGORYS</h5>
                                        <div class="new-member-list">
                                            <% topCategories.forEach((category) => { %>
                                            <div class="d-flex align-items-center justify-content-between mb-4">
                                                <div class="event-timeline-dot d-flex align-items-center">
                                                    <i class="material-icons md-play_circle_outline font-xxl me-2"></i>
                                                    <h6><strong><%= category.categoryName %></strong></h6>
                                                </div>
                                            </div>
                                            <% }) %>
                                        </div>
                                        
                                    </article>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
               
            </section>


            <%- include("../layout/admin/footer.ejs") -%>