<%- include("../layout/admin/header.ejs") -%>
    <div class="screen-overlay"></div>

    <!-- SIDE NAV START -->
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <img src="assets/imgs/theme/JPG.jpg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/customers">
                        <i class="icon material-icons md-group"></i>
                        <span class="text">Customers</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/returns">
                        <i class="icon material-icons md-settings_backup_restore"></i>
                        <span class="text">Return</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupon">
                        <i class="icon material-icons md-add_circle"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/offer">
                        <i class="icon material-icons md-percent">&#37;</i>
                        <span class="text">Offer</span>
                    </a>
                </li>



            </ul>
            <br />
            <br />
        </nav>
    </aside>

    <!-- SIDE NAV END -->

    <main class="main-wrap">
        <%- include("../layout/admin/navbar.ejs") -%>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Whole data about your orders here</p>
                    </div>
                </div>
                <div class="card mb-4">
                    
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="card-body" id="Reload">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach((order,i)=>{ %>
                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <td>
                                                <%= order.deliveryAddress.name %>
                                            </td>
                                            <td>
                                                <%= order.userId?.email %>
                                            </td>
                                            <td>
                                                <%= order.totalAmount %>
                                            </td>
                                            <% if(order.status=="placed" ){ %>
                                                <td><span class="badge rounded-pill alert-success">placed</span>
                                                </td>
                                                <% }else{ %>
                                                    <td><span class="badge rounded-pill alert-danger">pending</span>
                                                    </td>
                                                    <% }%>
                                                        <td>
                                                            <%= order.date.toLocaleString('en-US', { weekday: 'short' ,
                                                                month: 'short' , day: 'numeric' , year: 'numeric' ,
                                                                hour: 'numeric' , minute: 'numeric' , second: 'numeric'
                                                                , hour12: true }) %>
                                                        </td>
                                                        <td class="text-end"><a
                                                                href="/admin/orderDetails?id= <%= order._id %>"><strong>More
                                                                    Details</strong></a></td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item">
                                <a class="page-link" href="/admin/orders?page=<%= previous %>"><i
                                        class="material-icons md-chevron_left"></i></a>
                            </li>
                            <% for(i=1;i<=totalPages;i++){ %>
                                <li class="page-item active"><a class="page-link" href="/admin/orders?page=<%= i %>">
                                        <%= i %>
                                    </a></li>
                                <% } %>
                                    <li class="page-item">
                                        <a class="page-link" href="/admin/orders?page=<%= next %>"><i
                                                class="material-icons md-chevron_right"></i></a>
                                    </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->


            <%- include("../layout/admin/footer.ejs") -%>