<%- include("../layout/admin/header.ejs") -%>
    <div class="screen-overlay"></div>

                        <!-- SIDE NAV START -->
                        <aside class="navbar-aside" id="offcanvas_aside">
                            <div class="aside-top">
                                <a href="/admin/dashboard" class="brand-wrap">
                                    <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                                </a>
                                <div>
                                    <button class="btn btn-icon btn-aside-minimize"><i
                                            class="text-muted material-icons md-menu_open"></i></button>
                                </div>
                            </div>
                            <nav>
                                <ul class="menu-aside">
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/dashboard">
                                            <i class="icon material-icons md-home"></i>
                                            <span class="text">Dashboard</span>
                                        </a>
                                    </li>
                        
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/customers">
                                            <i class="icon material-icons md-group"></i>
                                            <span class="text">Customers</span>
                                        </a>
                                    </li>
                                    <li class="menu-item active">
                                        <a class="menu-link" href="/admin/products">
                                            <i class="icon material-icons md-shopping_bag"></i>
                                            <span class="text">Products</span>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/category">
                                            <i class="icon material-icons md-category"></i>
                                            <span class="text">Category</span>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/orders">
                                            <i class="icon material-icons md-shopping_cart"></i>
                                            <span class="text">Orders</span>
                                        </a>
                        
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/returns">
                                            <i class="icon material-icons md-settings_backup_restore"></i>
                                            <span class="text">Return</span>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/coupon">
                                            <i class="icon material-icons md-add_circle"></i>
                                            <span class="text">Coupon</span>
                                        </a>
                                    </li>
                               
                                    <li class="menu-item">
                                        <a class="menu-link" disabled href="/admin/offer">
                                            <i class="icon material-icons md-percent">&#37;</i>
                                            <span class="text">Offer</span>
                                        </a>
                                    </li>
                                    
                        
                        
                                </ul>
                                <br />
                                <br />
                            </nav>
                        </aside>
                        
                                                <!-- SIDE NAV END -->        <main class="main-wrap">
            <%- include("../layout/admin/navbar.ejs") -%>
                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Products List</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div>
                            <a href="/admin/addproduct" class="btn btn-primary"><i
                                    class="material-icons md-plus"></i>New Product</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                       
                        <!-- card-header end// -->
                        <div class="card-body" id="Reload">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Offer</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% let id=1 %>
                                        <% product.forEach((value,index)=>{ %>
                                            <% if(value.isDeleted==false){ %>
                                                <tr>
                                                    <td>
                                                        <%= id++ %>
                                                    </td>
                                                    <td>
                                                        <div class="itemside">
                                                            <div class="left">
                                                                <img src="/admin/assets/images/product/sharpedproduct/<%= value.image[0] %>"
                                                                    class="img-sm img-thumbnail" alt="Item" />
                                                            </div>

                                                        </div>
                                                    <td>
                                                        <%= value.productName %>
                                                    </td>
                                                    <td>
                                                        <%= value.productPrice %>
                                                    </td>
                                                    <% if(value.category.isDeleted==false) { %>
                                                        <td>
                                                            <%= value.category.categoryName %>
                                                        </td>
                                                        <% }else{ %>
                                                            <td>deleteCategory/td>
                                                                <%} %>
                                                            <td>
                                                                <%= value.stock %>
                                                            </td>
                                                            <td>
                                                                <%= value.description %>
                                                            </td>
                                                            <td><a href="/admin/editProduct?id=<%= value._id %>"><i
                                                                        class="material-icons md-edit"></i></a></td>

                                                            <td>
                                                                <% if(value.offer){ %>
                                                                    <button type="button"
                                                                        class="btn btn-sm btn-warning rounded font-sm mt-15"
                                                                        onclick="removeOffer('<%= value._id %>')">
                                                                        Remove
                                                                    </button>
                                                                    <% }else{ %>
                                                                        <button type="button"
                                                                            class="btn btn-sm btn-success rounded font-sm mt-15">
                                                                            <a style="text-decoration: none; color: white;"
                                                                                href="/admin/showproductOffers?id=<%= value._id %>">Available</a>
                                                                        </button>
                                                                        <% } %>
                                                            </td>
                                                            <td class="text-end">
                                                                <button type="button"
                                                                    class="btn btn-sm btn-danger rounded font-sm mt-15"
                                                                    onclick="deleteProduct('<%= value._id %>')"> Delete
                                                                </button>
                                                            </td>

                                                            </td>

                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- card end// -->
                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item">
                                    <a class="page-link" href="/admin/products?page=<%= previous %>"><i
                                            class="material-icons md-chevron_left"></i></a>
                                </li>
                                <% for(i=1;i<=totalPages;i++){ %>
                                    <li class="page-item "><a class="page-link" href="/admin/products?page=<%=i %>">
                                            <%= i %>
                                        </a></li>
                                    <% } %>
                                        <li class="page-item">
                                            <a class="page-link" href="/admin/products?page=<%= next %>"><i
                                                    class="material-icons md-chevron_right"></i></a>
                                        </li>
                            </ul>
                        </nav>
                    </div>
                </section>
                <!-- content-main end// -->

        </main>

        <script>
            function deleteProduct(productId) {
                const data = { id: productId };
                Swal.fire({
                    icon: "warning",
                    title: "are you sure",
                    showCancelButton: "true",
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'yes!',
                    confirmButtonColor: '#3085d6'
                }).then((response) => {
                    if (response.isConfirmed) {
                        $.ajax({
                            method: 'POST',
                            url: '/admin/deleteProduct',
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: (response) => {
                                if (response.deleted) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'deleted'
                                    })
                                    $('#Reload').load('/admin/products #Reload')
                                }
                            }
                        })
                    }
                })
            }


            function removeOffer(productId) {
                Swal.fire({
                    icon: "warning",
                    title: 'are you sure',
                    showCancelButton: 'true',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'yes!',
                    confirmButtonColor: '#3085d6'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/admin/removeProductOffer', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ productId })
                        }).then(data => {
                            if (data.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'deleted'
                                })
                                $('#Reload').load('/admin/products   #Reload')
                            }
                        })
                    }
                })
            }



        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



        <%- include("../layout/admin/footer.ejs") -%>