<%- include("../layout/admin/header.ejs") -%>
    <div class="screen-overlay"></div>

                        <!-- SIDE NAV START -->
                        <aside class="navbar-aside" id="offcanvas_aside">
                            <div class="aside-top">
                                <a href="/admin/dashboard" class="brand-wrap">
                                    <img src="assets/imgs/theme/JPG.jpg" class="logo" alt="Nest Dashboard" />
                                </a>
                                <div>
                                    <button class="btn btn-icon btn-aside-minimize"><i
                                            class="text-muted material-icons md-menu_open"></i></button>
                                </div>
                            </div>
                            <nav>
                                <ul class="menu-aside">
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/dashboard">
                                            <i class="icon material-icons md-home"></i>
                                            <span class="text">Dashboard</span>
                                        </a>
                                    </li>
                        
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/customers">
                                            <i class="icon material-icons md-group"></i>
                                            <span class="text">Customers</span>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/products">
                                            <i class="icon material-icons md-shopping_bag"></i>
                                            <span class="text">Products</span>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/category">
                                            <i class="icon material-icons md-category"></i>
                                            <span class="text">Category</span>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/orders">
                                            <i class="icon material-icons md-shopping_cart"></i>
                                            <span class="text">Orders</span>
                                        </a>
                        
                                    </li>
                                    <li class="menu-item active">
                                        <a class="menu-link" href="/admin/returns">
                                            <i class="icon material-icons md-settings_backup_restore"></i>
                                            <span class="text">Return</span>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a class="menu-link" href="/admin/coupon">
                                            <i class="icon material-icons md-add_circle"></i>
                                            <span class="text">Coupon</span>
                                        </a>
                                    </li>
                               
                                    <li class="menu-item">
                                        <a class="menu-link" disabled href="/admin/offer">
                                            <i class="icon material-icons md-percent">&#37;</i>
                                            <span class="text">Offer</span>
                                        </a>
                                    </li>
                                    
                        
                        
                                </ul>
                                <br />
                                <br />
                            </nav>
                        </aside>
                        
                                                <!-- SIDE NAV END -->        <main class="main-wrap">
            <%- include("../layout/admin/navbar.ejs") -%>

                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Order List</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="/admin/returns" class="btn btn-primary"><i class="material-icons md-arrow_back"></i>Go
                            Back</a>
                    </div>
                    <div class="card mb-4">
                        <header class="card-header">
                            <div class="row gx-3">
                                <div class="col-md-6">
                                    <!-- Add user details here, you can customize this section -->
                                    <h4><strong>User Details</strong></h4>
                                    <p><strong>Name :</strong>
                                        <%= order.deliveryAddress.name %>
                                    </p>
                                    <p><strong>Email : </strong>
                                        <%= order.userId.email %>
                                    </p>
                                    <p> Address : <%= order.deliveryAddress.city %>, <%=order.deliveryAddress.state %>,
                                                <%= order.deliveryAddress.pin %>
                                    </p>
                                </div>
                                <div class="col-lg-4 col-md-6 me-auto" style="margin-left: 2rem; margin-top: 2rem;">
                                    <input type="text" placeholder="Search..." class="form-control" />
                                </div>
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="card-body">
                                <table class="table table-hover" id="Reload">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Payment</th>
                                            <th scope="col">Qun</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col" class="text-end">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.products.forEach((value,i)=>{ %>
                                            <% if(value.status=="returnRequested" || value.status=="returnDenied" ||
                                                value.status=="returned" ){ %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>

                                                    <td>
                                                        <div class="itemside">
                                                            <div class="left">
                                                                <img src="/admin/assets/images/product/sharpedproduct/<%= value.productId.image[0] %>"
                                                                    class="img-sm img-thumbnail" alt="Item" />
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <%= order.deliveryAddress.name %>
                                                    </td>
                                                    <td>
                                                        <%= order.paymentMethod %>
                                                    </td>
                                                    <td>
                                                        <%= value.quantity %>
                                                    </td>
                                                    <td>
                                                        <%= value.productId.productPrice.toFixed(2) %>
                                                    </td>
                                                    <% if(value.status=="returnRequested" ){ %>
                                                        <td><span class="badge rounded-pill alert-warning">
                                                                <%= value.status %>
                                                            </span></td>
                                                        <% }else if(value.status=="returned" ){ %>
                                                            <td><span class="badge rounded-pill alert-success">
                                                                    <%= value.status %>
                                                                </span></td>
                                                            <% }else{ %>
                                                                <td><span class="badge rounded-pill alert-danger">
                                                                        <%= value.status %>
                                                                    </span></td>
                                                                <% } %>
                                                                    <td>
                                                                        <%= order.date.toLocaleString('en-US', {
                                                                            weekday: 'short' , month: 'short' ,
                                                                            day: 'numeric' , year: 'numeric' ,
                                                                            hour: 'numeric' , minute: 'numeric' ,
                                                                            second: 'numeric' , hour12: true }) %>
                                                                    </td>
                                                                    <% if(value.status=="returned" ){ %>
                                                                        <td class="text-end"> <select
                                                                             class="form-select orderStatus">
                                                                            
                                                                                <option value="returnDenied">returned</option>
                                                                          
                                                                        </select></td>
                                                                        <% }else{ %>
                                                                    <td class="text-end"> <select
                                                                            data-orderId="<%= order._id %>"
                                                                            data-productId="<%= value._id %>"
                                                                            data-userId="<%= order.userId._id %>"
                                                                            data-producid="<%= value.productId._id %>"
                                                                            class="form-select orderStatus"
                                                                            id="orderStatus" name="orderStatus"
                                                                            onchange="changeStatus(this)">
                                                                            <option>change status</option>
                                                                            <option value="returned">Accepted</option>
                                                                            <option value="returnDenied">Denied</option>
                                                                        </select></td>
                                                                        <% } %>
                                                </tr>

                                                <% } %>
                                                    <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>
                        <!-- card-body end// -->
                    </div>



                    <script>
                        function changeStatus(select) {
                            let orderId = select.dataset.orderid;
                            let productId = select.dataset.productid;
                            let status = select.value;
                            let userId = select.dataset.userid;
                            let productid =  select.dataset.producid
                            const data = { orderId, productId, status, userId ,productid}
                            fetch('/admin/changeReturnStaturs', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            }).then((data) => data.json())
                                .then((response) => {
                                    if (response.ok) {
                                        $('#Reload').load('/admin/returnDetails?id=<%= order._id %>  #Reload')
                                    }
                                })

                        }
                    </script>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



                    <%- include("../layout/admin/footer.ejs") -%>