<%- include('../layout/user/header.ejs') %>
    <%- include('../layout/user/navbar.ejs') %>

        <style>
            .place-order-btn {
                background-color: rgb(177, 177, 177);
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            /* Change button color on hover */
            .place-order-btn:hover {
                background-color: #ff6600;

            }

            .coupon-code {
                font-size: 1.2rem;
            }
        </style>


        <!-- Breadcrumb Section -->
        <section class="breadcrumb-section" style="margin-top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Procced To Checkout</h2>
                        <div class="breadcrumb-text">
                            <a style="color: black; text-decoration: none; " href="/">Home</a> >
                            <a style="color: black; text-decoration: none; " href="/cart">Cart</a> >
                            <span>Procced To Checkout</span>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="cart-page section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="single-check responsive">

                                <div class="single-check p-3 border rounded">
                                    <div class="check-title mb-3">
                                        <h3 class="m-0">Shipping Addresses</h3>
                                    </div>
                                    <div class="address-list">
                                        <% user.address.forEach((address, index)=> { %>
                                            <div class="address-item mb-3 border p-3 rounded">

                                                <div class="form-check mt-2">
                                                    <p class="m-0">
                                                        <span>Name: </span><strong>
                                                            <%= address.name %>
                                                        </strong> <br>
                                                        <span>State: </span>
                                                        <%= address.state %> /
                                                            <span>City: </span>
                                                            <%= address.city %> /
                                                                <span>Pin: </span>
                                                                <%= address.pin %> /
                                                                    <span>Phone: </span>
                                                                    <%= address.phone %>
                                                    </p>
                                                    <hr>
                                                    <input style="display: inline-block;" class="form-check-input"
                                                        type="radio" name="addressRadio"
                                                        id="selectedAddress<%= index %>" value="<%= index %>">
                                                    <label class="form-check-label" for="selectedAddress<%= index %>"
                                                        style="margin-left: 5px;">Select Address</label>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <!-- Button to add a new address -->
                                    <button class="btn btn-success mt-2" data-toggle="modal"
                                        data-target="#addAddressModal">Add Address</button>
                                </div>

                                <!-- Modal for adding a new address -->
                                <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                                    aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="/addaddressCheckout"
                                                    onsubmit="return validation()">
                                                    <div class="form-group">
                                                        <label for="name">Name:</label>
                                                        <input type="text" class="form-control" id="name" name="name"
                                                            placeholder="Enter your name">
                                                        <div id="nameError" class="forml" style="color: red;"></div>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 1rem; ">
                                                        <label for="state">State:</label>
                                                        <input type="text" class="form-control" id="state" name="state"
                                                            placeholder="Enter your state">
                                                        <div id="stateError" class="forml" style="color: red;"></div>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 1rem; ">
                                                        <label for="country">city:</label>
                                                        <input type="text" class="form-control" id="city" name="city"
                                                            placeholder="Enter your city">
                                                        <div id="cityError" class="forml" style="color: red;"></div>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 1rem; ">
                                                        <label for="pin">PIN:</label>
                                                        <input type="text" class="form-control" id="pin" name="pin"
                                                            placeholder="Enter your PIN code">
                                                        <div id="pinError" class="forml" style="color: red;"></div>
                                                    </div>
                                                    <div class="form-group"
                                                        style="margin-bottom: 2rem; margin-top: 1rem; ">
                                                        <label for="phone">Phone Number:</label>
                                                        <input type="tel" class="form-control" id="phone" name="phone"
                                                            placeholder="Enter your phone number">
                                                        <div id="phoneError" class="forml" style="color: red;"></div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="single-check p-bottom50 clearfix">
                                    <div class="check-title">
                                        <h3 style="margin: 0;">Your Orders</h3>
                                    </div>
                                    <div class="table-responsive table-two">
                                        <table class="order-table text-center">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% let total = 0 %> 
                                                <% let subtotal = 0 %> 

                                                <% cart.products.forEach((product)=>{ %>
                                                    <% let productPrice %>
                                                    <% if( product.productId.category.offer &&
                                                        product.productId.offer){ %>
                                                        <% if(product.productId.category.offer.offerPercentage <
                                                            product.productId.offer.offerPercentage) { %>
                                                            <% productPrice=product.productId.productPrice -
                                                                (product.productId.productPrice *
                                                                (product.productId.offer.offerPercentage/100))
                                                                %>
                                                                <% }else{ %>
                                                                    <% productPrice=product.productId.productPrice
                                                                        - (product.productId.productPrice *
                                                                        (product.productId.category.offer.offerPercentage/100))
                                                                        %>
                                                                        <% } %>
                                                                            <% } else if(
                                                                                !product.productId.category.offer
                                                                                && product.productId.offer){ %>
                                                                                <% productPrice=product.productId.productPrice
                                                                                    -
                                                                                    (product.productId.productPrice
                                                                                    *
                                                                                    (product.productId.offer.offerPercentage/100))
                                                                                    %>
                                                                                    <% }else if(
                                                                                        product.productId.category.offer
                                                                                        &&
                                                                                        !product.productId.offer){
                                                                                        %>
                                                                                        <% productPrice=product.productId.productPrice
                                                                                            -
                                                                                            (product.productId.productPrice
                                                                                            *
                                                                                            (product.productId.category.offer.offerPercentage/100))
                                                                                            %>

                                                                                            <% }else{ %>
                                                                                                <% productPrice = product.productId.productPrice
                                                                                                    %>

                                                                                                    <% } %>

                                                                                                    <% total +=( productPrice * product.quantity ) %>

                                                    <tr>
                                                        <td class="td-text">

                                                            <div class="order-dsc">
                                                                <p>
                                                                    <%= product.productId.productName %>
                                                                </p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="qty-input">
                                                                <%= product.quantity %>
                                                            </div>
                                                        </td>
                                                        <td> ₹ <%= productPrice %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">


                        
                            <div class="single-check p-bottom50">
                                <div class="check-title"
                                    style="display: flex; align-items: center; justify-content: space-between;">
                                    <h3>Coupon Code</h3>
                                    <button style="margin-bottom: 1rem; width: 200px;" class="btn btn-success"
                                        data-toggle="modal" data-target="#listcouponModal">Avilable Coupon</button>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="listcouponModal" tabindex="-1" role="dialog"
                                    aria-labelledby="listcouponModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="listcouponModalLabel">Avilable Coupons</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <td>Name</td>
                                                            <td>Code</td>
                                                            <td>Off</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% coupons.forEach((coupon)=> { %>
                                                            <% if (coupon.minSpend <=total) { %>
                                                                <tr>
                                                                    <td>
                                                                        <h5>
                                                                            <%= coupon.name %>:
                                                                        </h5>
                                                                    </td>
                                                                    <td>
                                                                        <%= coupon.couponCod %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (coupon.type=="amount" ) { %>
                                                                            <h6>₹ <%= coupon.discount %> Off</h6>
                                                                            <% } else { %>
                                                                                <h6>
                                                                                    <%= coupon.discount %> % Off
                                                                                </h6>
                                                                                <% } %>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                                    <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="single-input check-coupon" style="margin-top: 1rem;">
                                    <div class="input-text">
                                       <% if(cart.couponApplyd.couponDiscount >0){ %>
                                        <input type="text" name="coupon" id="coupon" value="<%= cart.couponApplyd.couponId.couponCod%>" />
                                        <% }else{ %>
                                            <input type="text" name="coupon" id="coupon" />

                                            <% } %>
                                    </div>
                                    <div id="applybtn">
                                        <div id="applybtn">
                                            <% if(!cart.couponApplyd.couponId ){ %>
                                                <button id="couponSubmit" class="place-order-btn" onclick="applyCoupon('<%= total %>')">Submit</button>
                                                <% }else{ %>
                                                    <button id="couponSubmit" class="place-order-btn" onclick="removeCoupon()">Remove</button>
                                            <% } %>
                                        </div>
                                        
                                        </div>
                                </div>
                            </div>

                            <div class="single-check p-bottom50" style="margin-top: 1rem;">
                                <div class="check-title">
                                    <h3 style="margin: 0;">Totals</h3>
                                </div>
                                <div class="subtotal clearfix" id="total">
                                    <p>Subtotal <strong class="floatright"> ₹ <%= total %></strong></p>
                                    <% if(cart.couponApplyd.couponId){ %>
                                        <% if( (total- cart.couponApplyd.couponDiscount) > 1000 ){ %>
                                            <p>Coupon Discount<strong class="floatright"> ₹ 1000</strong></p>
                                                <p>Shipping <strong class="floatright">free delivery</strong></p>
                                                <p>Total <strong class="floatright"><span> ₹ <%= total = total- 1000 %></span></strong></p>
                                            <% }else{ %>
                                                <p>Coupon Discount<strong class="floatright"> ₹ <%= cart.couponApplyd.couponDiscount %></strong></p>
                                                <p>Shipping <strong class="floatright">free delivery</strong></p>
                                                <p>Total <strong class="floatright"><span> ₹ <%= total = total- cart.couponApplyd.couponDiscount %></span></strong></p>
                                                <% } %>
                                        <% } else{ %>
                                            <p>Shipping <strong class="floatright">free delivery</strong></p>
                                            <p>Total <strong class="floatright"><span> ₹ <%= total %></span></strong></p>
                                                            <% } %>
                                </div>
                            </div>

                            <div class="single-check p-3 border rounded" style="margin-top: 3rem;">
                                <div class="check-title mb-3">
                                    <h3 class="m-0">Payment Option</h3>
                                </div>
                                <div class="address-list" id="paymentOption">
                                    <div class="address-item mb-3 border p-3 rounded">

                                        <% if( total < 1000){ %>
                                            <div class="form-check mt-2">
                                                <input style="display: inline-block;" class="form-check-input"
                                                    type="radio" name="paymentMethod" id="cashOnDelivery" value="COD">
                                                <label class="form-check-label" for="cashOnDelivery"
                                                    style="margin-left: 5px;">cash On Delivery</label>
                                                <hr>
                                            </div>
                                            <% }else{ %>
                                                <div class="form-check mt-2">
                                                    <input style="display: inline-block;" class="form-check-input"
                                                        type="radio" name="paymentMethod" id="cashOnDelivery"
                                                        value="COD" disabled>
                                                    <label class="form-check-label" for="cashOnDelivery"
                                                        style="margin-left: 5px;">cash On Delivery</label>
                                                    <hr>
                                                </div>

                                                <% } %>
                                                    <div class="form-check mt-2">
                                                        <input style="display: inline-block;" class="form-check-input"
                                                            type="radio" name="paymentMethod" id="razorpay"
                                                            value="RAZORPAY">
                                                        <label class="form-check-label" for="razorpay"
                                                            style="margin-left: 5px;">Razorpay</label>
                                                        <hr>
                                                    </div>
                                                    <div class="form-check mt-2">
                                                        <input style="display: inline-block;" class="form-check-input"
                                                            type="radio" name="paymentMethod" id="wallet"
                                                            value="WALLET">
                                                        <label class="form-check-label" for="wallet"
                                                            style="margin-left: 5px;">Wallet</label>
                                                    </div>
                                    </div>
                                </div>

                            </div>

                            <button style="margin-left: 25rem; margin-top: 2rem;" id="placeOrder"
                                class="place-order-btn" data-subTotal="<%= total %>" onclick="placeOrder()">Place
                                Order</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- cart page content section end -->




        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>

            function placeOrder() {
                try {
                    const radioButtonAddress = document.querySelector('input[name="addressRadio"]:checked');
                    const index = radioButtonAddress ? radioButtonAddress.value : null;
                    if (index) {
                        const radioButtonPayment = document.querySelector('input[name="paymentMethod"]:checked');
                        const payment = radioButtonPayment ? radioButtonPayment.value : null;
                        if (payment) {
                            const subTotal = document.getElementById('placeOrder').getAttribute('data-subTotal');
                            if (subTotal) {
                                const couponCod = document.getElementById('coupon').value
                                const data = { index: index, payment: payment, subTotal: subTotal, couponCod, };
                                fetch('/placeOrder', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(data)
                                }).then((result) => result.json())
                                    .then((data) => {
                                        if (data.ok) {
                                            location.href = `/orderSuccess/${data.orderId}`
                                        } else if (data.quan == true) {
                                            Swal.fire({
                                                icon: 'warning',
                                                text: `Sorry you product ${data.quantityLess} is Out Of Stock'`,
                                                showConfirmButton: false
                                            });
                                        }
                                        else if (data.okk) {
                                            if (data.order) {
                                                razopay(data.order);
                                            }
                                        } else if (data.wallet) {
                                            location.href = `/orderSuccess/${data.orderId}`
                                        } else if (data.balance) {
                                            Swal.fire({
                                                title: "Wallet don't have enough money",
                                                text: "Please choose another payment option",
                                                icon: "error",
                                                showConfirmButton: false,
                                                timer: 1500
                                            })
                                        }
                                    })
                            }
                        } else {
                            //payment
                            Swal.fire({
                                icon: 'warning',
                                text: "Select Payment Methode ",
                                showConfirmButton: false,
                                showConfirmButton: '#d33'
                            });
                        }
                    } else {

                        //address
                        Swal.fire({
                            icon: 'warning',
                            text: "Select  Address",
                            showConfirmButton: false,
                            showConfirmButton: '#d33'
                        });

                    }
                } catch (error) {
                    console.log(error);
                }
            }

            function razopay(order) {
                try {
                    let options = {
                        "key": '<%=  process.env.RAZORPAY_KEY_ID %>',  // the key id coming from env file 
                        "amount": order.amount,                       // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "Cycle Craft",                       // company name 
                        "description": "Test Transaction",           //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "image": "",
                        "order_id": order.id,
                        handler: (response) => {
                            verifyPayment(response, order);
                        },
                        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                            "name": "Cycle Craft", //your customer's name
                            "email": "4khiln@gmail.com",
                            "contact": "8100901095" //Provide the customer's phone number for better conversion rates 
                        },
                        "notes": {
                            "address": "Cycle Craft"
                        },
                        "theme": {
                            "color": "#3b5d50"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.on('payment.failed', (err) => {
                        const total = parseFloat(document.getElementById('placeOrder').getAttribute('data-subTotal'));
                        location.href = `/orderDetails?id=${order.receipt}` // Redirect to the user page
                    })
                    rzp1.open();

                } catch (error) {
                    console.log(error);
                }
            }




            function verifyPayment(paymetn, order) {
                const data = { paymetn, order };
                fetch('/verifyPayment', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then((result) => result.json())
                    .then((data) => {
                        if (data.paymentSuccess) {
                            location.href = `/orderSuccess/${data.orderId}`
                        } else {
                            Swal.fire({
                                positon: "center",
                                icon: "error",
                                title: "Payment 0-0- failed",
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        }
                    })
            }


            function applyCoupon(subtotal) {
                const couponcod = document.getElementById('coupon').value;
                Swal.fire({
                    icon: "warning",
                    title: "Are You Sure",
                    showCancelButton: "true",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes!",
                    confirmButtonColor: "#3085d6"
                }).then((response) => {
                    if (response.isConfirmed) {
                        fetch('/applycoupon', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ couponcod,subtotal })
                        }).then((data) => data.json())
                            .then((result) => {
                                if (result.ok) {
                                    Swal.fire({
                                        positon: "center",
                                        icon: "success",
                                        title: "Coupon Applyed",
                                        showConfirmButton: false,
                                        timer: 1500,
                                    }).then((result) => {
                                       location.reload()
                                        
                                    })
                                }
                                if (result.notFount) {
                                    Swal.fire({
                                        positon: "",
                                        icon: "error",
                                        title: "Not valid Coupon",
                                        showConfirmButton: false,
                                        timer: 1500,
                                    })
                                }
                            })

                    }
                })

            }

            function removeCoupon() {
                Swal.fire({
                    icon: "warning",
                    title: "Are You Sure",
                    showCancelButton: "true",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes!",
                    confirmButtonColor: "#3085d6"
                }).then((response)=>{
                    if(response.isConfirmed){
                        fetch('/removecoupon', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then((result) => {
                    location.reload()
                })
                    }
                })
               
            }




        </script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>









        <!-- Add these script tags before the closing body tag -->
        <script src="/assets/js/addAddressValidation.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <%- include('../layout/user/footbar.ejs') %>
            <%- include('../layout/user/footer.ejs') %>