<%- include('../layout/user/header.ejs') %>

	<%- include('../layout/user/navbar.ejs') %>

		<div class="slider-area slider-one clearfix">
			<div class="slider animation-style-01">
				<div class="slider-item" data-bg-image="img/slider/1.jpg">
					<div class="d-table">
						<div class="d-tablecell">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="slide-text">
											<h2 class="title">best cycling experience</h2>
											<div class="shape">
												<img src="img/slider/shape.png" width="30" height="30" alt="" />
											</div>
											<h3 class="sub-title">become the world leader on the internet for the sport
												of cycling.</h3>
											<a class="shop-btn" href="/shop">Shop Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-item" data-bg-image="img/slider/2.jpg">
					<div class="d-table">
						<div class="d-tablecell">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="slide-text">
											<h2 class="title">best cycling experience</h2>
											<div class="shape animated flipInX">
												<img src="img/slider/shape.png" width="30" height="30" alt="" />
											</div>
											<h3 class="sub-title">become the world leader on the internet for the sport
												of cycling.</h3>
											<a class="shop-btn" href="/shop">Shop Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slider section end -->
		<!-- featured section start -->
		<section class="featured-area featured-one section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-6 col-text-center">
						<div class="section-title text-center">
							<h2><span>Featured</span> products</h2>
							<div class="shape">
								<img src="img/icon/t-shape.png" width="16" height="16" alt="Title Shape" />
							</div>
							<p>It is a long established fact that a reader will be distracted by the readable content
								page when looking at its layout.</p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12">
						<div class="featured-slider single-products">

							<% featuredProduct.forEach((product)=>{ %>

							<div class="product-item-wrap">
								<div class="padding30">
									<div class="product-item">
										<div class="pro-img">
											<a href="/productDetails?id=<%= product._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= product.image[0] %>"
													width="318" height="194" alt="" /></a>
										</div>
										<div class="actions-btn">
											<ul class="clearfix">
												<li>
													<a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
												</li>
												<li>
													<a href="#"><i class="fa fa-heart"></i></a>
												</li>
												<li>
													<a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"><i
															class="fa fa-eye"></i></a>
												</li>
											</ul>
										</div>
										<div class="product-title">
											<a href="/productDetails?id=<%= product._id %>">
												<h3 class="title"><%= product.productName %></h3>
											</a>
											<p>Price <span>₹  <%= product.productPrice %></span></p>
										</div>
									</div>
								</div>
							</div>
							
							
							<% }) %>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- featured section end -->
		
		<!-- riding section start -->
		<section class="riding-area riding-one section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-6 col-text-center">
						<div class="section-title text-center">
							<h2><span>riding</span> accessories</h2>
							<div class="shape">
								<img src="img/icon/t-shape.png" width="16" height="16" alt="Title Shape" />
							</div>
							<p>It is a long established fact that a reader will be distracted by the readable content of
								a page when looking at its layout.</p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12">
						<div class="four-item riding-slider single-products">

							<% accessories.forEach((product)=>{ %>

							<div class="product-item-wrap">
								<div class="product-item">
									<div class="pro-img">
										<a href="/productDetails?id=<%= product._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= product.image[0] %>" width="263"
												height="282" alt="Product" /></a>
										
									</div>
									<div class="riding-title clearfix">
										<div class="product-title text-start floatleft">
											<a href="/productDetails?id=<%= product._id %>">
												<h3 class="title"><%= product.productName %></h3>
											</a>
											<p><span>₹  <%= product.productPrice %></span></p>
										</div>
									</div>
								</div>
							</div>
									
							<% }) %>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- riding section end -->
	
		<!-- best-sell section start -->
		<section class="best-sell-area best-sell-one section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-6 col-text-center">
						<div class="section-title text-center">
							<h2><span>best</span> sell</h2>
							<div class="shape">
								<img src="img/icon/t-shape.png" width="16" height="16" alt="Title Shape" />
							</div>
							<p>It is a long established fact that a reader will be distracted by the readable content of
								a page when looking at its layout.</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="text-center tab-content">
						<div class="tab-pane fade show active" id="bikes">
							<div class="four-item single-products">

								<% topProducts.forEach((product)=>{ %>
								<div class="product-item-wrap">
									<div class="product-item">
										<div class="pro-img">
											<a href="/productDetails?id=<%= product._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= product.productImg[0] %>" width="241"
													height="195" alt="Product" /></a>
										</div>
										<div class="riding-title clearfix">
											<div class="product-title">
												<a href="/productDetails?id=<%= product._id %>">
													<h3 class="title"><%= product.productName %></h3>
												</a>
												<p>Price: <span> ₹  <%= product.productPrice %> </span></p>
											</div>
										</div>
									</div>
								</div>
								
								<% }) %>
							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<div class="view-more">
							<a class="shop-btn" href="/shop">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- best-sell section end -->
		<!-- arrival section start -->
		<section class="arrival-area arrival-one section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-6 col-text-center">
						<div class="section-title text-center">
							<h2><span>New</span> Arrival</h2>
							<div class="shape">
								<img src="img/icon/t-shape.png" width="16" height="16" alt="Title Shape" />
							</div>
							<p>It is a long established fact that a reader will be distracted by the readable content of
								a page when looking at its layout.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid arrival-content">
				<div class="row text-center">
					<% if (newArrivals && newArrivals.length > 0) { %>
					<div class="col-md-6 col-lg-4 arrival-left">
						<div class="single-arrival left">
							<div class="product-item">
								<div class="pro-img">
									<a href="/productDetails?id=<%=  newArrivals[0]._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= newArrivals[0].image[0] %>" width="604"
											height="717" alt="Product" /></a>
								</div>
								<div class="tag-new">
									<img src="img/products/tag.png" alt="New Tag" />
								</div>
	
								<div class="arrival-title clearfix">
									<div class="product-title">
										<a href="/productDetails?id=<%= newArrivals[0]._id %>">
											<h2 class='title'>  <%= newArrivals[0].productName %></h2>
										</a>
										<p>Price: <span>₹  <%= newArrivals[0].productPrice %></span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% } %>
					<div class="col-md-6 col-lg-4 arrival-middle">
						<div class="single-arrival middel">
							<div class="row">
								<div class="col-md-6">
									<% if (newArrivals && newArrivals.length > 1) { %>
									<div class="product-item">
										<div class="pro-img">
											<a href="/productDetails?id=<%=  newArrivals[1]._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= newArrivals[1].image[0] %>" width="287"
													height="287" alt="Product" /></a>
										</div>
										<div class="tag-new">
											<img src="img/products/tag.png" alt="New Tag" />
										</div>
										<div class="arrival-title clearfix">
											<div class="product-title">
												<a href="/productDetails?id=<%= newArrivals[1]._id %>">
													<h3 class="title">  <%= newArrivals[1].productName %></h3>
												</a>
												<p>Price: <span>₹  <%= newArrivals[1].productPrice %></span></p>
											</div>
										</div>
									</div>
									<% } %>
									<% if (newArrivals && newArrivals.length > 2) { %>
									<div class="product-item margin-top">
										<div class="pro-img">
											<a href="/productDetails?id=<%=  newArrivals[2]._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= newArrivals[2].image[0] %>" width="287"
													height="287" alt="Product" /></a>
										</div>
										<div class="tag-new">
											<img src="img/products/tag.png" alt="New Tag" />
										</div>
										<div class="arrival-title clearfix">
											<div class="product-title">
												<a href="/productDetails?id=<%= newArrivals[2]._id %>">
													<h3 class="title" > <%= newArrivals[2].productName %></h3>
												</a>
												<p>Price: <span>₹  <%= newArrivals[2].productPrice %></span></p>
											</div>
										</div>
									</div>
									<% } %>
								</div>
								<div class="col-md-6">
									<% if (newArrivals && newArrivals.length > 3) { %>
									<div class="product-item margin-top mt-md-0">
										<div class="pro-img">
											<a href="/productDetails?id=<%=  newArrivals[3]._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= newArrivals[3].image[0] %>" width="287"
													height="287" alt="Product" /></a>
										</div>

										<div class="tag-new">
											<img src="img/products/tag.png" alt="New Tag" />
										</div>
										
										<div class="arrival-title clearfix">
											<div class="product-title">
												<a href="/productDetails?id=<%= newArrivals[3]._id %>">
													<h3 class="title"> <%= newArrivals[3].productName %></h3>
												</a>
												<p>Price: <span>₹  <%= newArrivals[3].productPrice %></span></p>
											</div>
										</div>
									</div>
									<% } %>
									<% if (newArrivals && newArrivals.length > 4) { %>
									<div class="product-item margin-top">
										<div class="pro-img">
											<a href="/productDetails?id=<%= newArrivals[4]._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= newArrivals[4].image[0] %>" width="287"
													height="287" alt="Product" /></a>
										</div>
										<div class="tag-new">
											<img src="img/products/tag.png" alt="New Tag" />
										</div>
										
										<div class="arrival-title clearfix">
											<div class="product-title">
												<a href="/productDetails?id=<%= newArrivals[4]._id %>">
													<h3 class="title"> <%= newArrivals[4].productName %></h3>
												</a>
												<p>Price: <span>₹  <%= newArrivals[4].productPrice %></span></p>
											</div>
										</div>
									</div>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<% if (newArrivals && newArrivals.length > 5) { %>
					<div class="col-md-6 col-lg-4 arrival-left">
						<div class="single-arrival right">
							<div class="product-item">
								<div class="pro-img">
									<a href="/productDetails?id=<%=  newArrivals[5]._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= newArrivals[5].image[0] %>" width="604"
											height="717" alt="Product" /></a>
								</div>
								<div class="tag-new">
									<img src="img/products/tag.png" alt="New Tag" />
								</div>
								
								<div class="arrival-title clearfix">
									<div class="product-title">
										<a href="/productDetails?id=<%= newArrivals[5]._id %>">
											<h2 class='title'><%= newArrivals[5].productName %></h2>
										</a>
										<p>Price: <span>₹  <%= newArrivals[5].productPrice %> </span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</section>
		
		
		
			
			

 
			
			<%- include('../layout/user/footbar.ejs') %>
				<%- include('../layout/user/footer.ejs') %>
