<%-include('.. /layout/user/header.ejs') %>

    <%-include('.. /layout/user/navbar.ejs') %>


        <style>
            /*  background-image start */
            .background-image {
                background-image: url('/assets/img/slider/1.jpg');
                background-size: cover;
                background-position: center;
                margin: 0;
                /* Remove default body margin */
                padding: 0;
                /* Remove default body padding */
            }

            /* buton hover */
            .form-group a {
                color: rgb(40, 29, 189);
                font-size: 13px;
                transition: color 0.3s;
                /* Add a smooth transition effect */
            }

            .form-group a:hover {
                color: rgb(0, 0, 0);
                /* Change to your desired hover color */
            }
        </style>



        <div class="background-image" style="margin-top: -60px;">
            <!-- Login form -->
            <div class="container" style="padding-top: 10rem;">
                <div class="row justify-content-center align-items-center">

                    <div class="col-md-6 ">
                        <% if (messages.exists) { %>
                            <div style="margin-top: 2rem;" class="alert alert-danger d-flex align-items-center"
                                role="alert" id="existAlert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 " viewBox="0 0 16 16"
                                    role="img" aria-label="Warning:">
                                    <path
                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                <div>
                                    <strong>Hey !</strong>
                                    <%= messages.exists %>

                                </div>
                            </div>
                            <% } %>
                                <% if (messages.newsuccess) { %>
                                    <div class="alert alert-success d-flex align-items-center  " role="alert"
                                        id="error-alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor"
                                            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 "
                                            viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                            <path
                                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                        <div>
                                            <strong>Hey !</strong>
                                            <%= messages.newsuccess %>
                                        </div>
                                    </div>


                                    <% } %>
                                        <h2 class="text-center " style="margin-top: 2rem;">Login </h2>
                                        <form action="" onclick="" method="post"
                                            style="display: flex; flex-direction: column; gap: 2;">

                                            <!-- Email -->
                                            <div class="form-group mx-auto text-left" style="width: 80%;">
                                                <label for="email"
                                                    style="color: rgb(187, 187, 187); font-size: 16px;"><b>Emale</b></label>
                                                <input type="email" placeholder="Email" class="form-control" id="email"
                                                    name="email" required>
                                            </div>

                                            <!-- Password -->
                                            <div class="form-group mx-auto text-left" style="width: 80%;">
                                                <label for="password"
                                                    style="color: rgb(187, 187, 187); font-size: 16px;"><b>Password</b></label>
                                                <input type="password" placeholder="Password" class="form-control"
                                                    id="password" name="password" required>
                                            </div>

                                            <!-- Reset Password Link -->
                                            <div class="form-group mx-auto text-left mt-2" style="width: 80%;">
                                                <p style="margin: 0;"> <a style="  text-decoration: none;"
                                                        href="/forgetPassword"><b>Forget password?</b></a></p>
                                            </div>

                                            <!-- Submit Button -->
                                            <button type="submit" class="btn btn-primary mx-auto"
                                                style="width: 80%; ">Login</button>
                                        </form>
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-2">
                <p><b>Not a member?</b> <a style="  text-decoration: none;" href="/register"><b>Register</b></a></p>
                <p>or sign up with:</p>
                <div class="social-link actions-btn clearfix">
                    <ul>
                        <li>
                            <a style="background-color: white;"
                                class="btn btn-lg btn-google btn-block text-uppercase btn-outline "
                                href="/loginWithGoogle"><img
                                    src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using
                                Google</a>
                        </li>
                        <!-- <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li> -->


                    </ul>
                </div>
            </div>


            <!-- Scroll To Top -->
            <a class="scroll-to-top" href="#">
                <i class="fa fa-angle-double-up"></i>
            </a>

        </div>



        <!-- background-image end -->


        <%-include('.. /layout/user/footbar.ejs') %>

            <%-include('.. /layout/user/footer.ejs') %>