<%- include('../layout/user/header.ejs') %>
    <%- include('../layout/user/navbar.ejs') %>

        <style>
            .address-table {
                width: 100%;
                margin-top: 20px;
                border-collapse: collapse;
            }

            .address-table th,
            .address-table td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }

            .address-table th {
                background-color: #929292;
            }

            body {
                margin-top: 20px;
                color: #1a202c;
                text-align: left;
                background-color: #e2e8f0;
            }

            .main-body {
                padding: 15px;
            }

            .card {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            }

            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 0 solid rgba(0, 0, 0, .125);
                border-radius: .25rem;
            }

            .card-body {
                flex: 1 1 auto;
                min-height: 1px;
                padding: 1rem;
            }

            .gutters-sm {
                margin-right: -8px;
                margin-left: -8px;
            }

            .gutters-sm>.col,
            .gutters-sm>[class*=col-] {
                padding-right: 8px;
                padding-left: 8px;
            }

            .mb-3,
            .my-3 {
                margin-bottom: 1rem !important;
            }

            .bg-gray-300 {
                background-color: #e2e8f0;
            }

            .h-100 {
                height: 100% !important;
            }

            .shadow-none {
                box-shadow: none !important;
            }
        </style>
        <div class="container">
            <div class="main-body">

                <!-- Breadcrumb Section -->
                <section class="breadcrumb-section" style="margin-top: 70px; margin-bottom: 30px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Order History</h2>
                                <div class="breadcrumb-text">
                                    <a style="color: black; text-decoration: none; " href="/">Home</a> >
                                    <span>Order History</span>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="col-md-4 mb-3">

                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <i class="fa-regular fa-user"> <a style="text-decoration: none;"
                                        href="/profile">Profile</a></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <i class="fa-solid fa-address-card"> <a style="text-decoration: none;"
                                        href="/address">Address</a></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <i class="fa-solid fa-wallet"> <a style="text-decoration: none;"
                                        href="/wallet">Wallet</a></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <i class="fa-solid fa-basket-shopping"> <a style="text-decoration: none;"
                                        href="/orderHistory">order History</a></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row gutters-sm">



                    <!-- Address Listing Table -->
                    <table class="address-table" id="Reload" style="margin-bottom: 3rem;">
                        <% if(orders && orders.length > 0) { %>
                        <thead>
                            <tr>
                                <th>no</th>
                                <th>Placed On</th>
                                <th>Payment Method</th>
                                <th>Total</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let count=0 %>
                                <% orders.forEach((order)=>{ %>
                                    <% count ++ %>
                                        <tr>
                                            <td>
                                                <%= count %>
                                            </td>
                                            <td>
                                                <%= order.date.toLocaleDateString('en-US', { year: 'numeric' ,
                                                    month: 'short' , day: '2-digit' }).replace(/\//g, '-' )%>
                                            </td>
                                            <td>
                                                <%= order.paymentMethod %>
                                            </td>
                                            <td>
                                                <%= order.totalAmount %>
                                            </td>
                                            <td>
                                                <%= order.deliveryAddress.name %>,<%= order.deliveryAddress.state %>,<%=
                                                            order.deliveryAddress.city %>,<%= order.deliveryAddress.phNo
                                                                %>
                                            </td>
                                            <td><a style="text-decoration: none; color: #1a202c;"
                                                    href="/orderDetails?id=<%= order.orderId %>"><strong>More
                                                        Details</strong></a></td>

                                        </tr>

                                        <% }) %>


                        </tbody>
                    </table>


                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="shop-menu clearfix margin-close">
                                <div class="right floatright text-center">
                                    <div class="pagnation-ul">
                                        <ul class="clearfix">

                                            <li>
                                                <a onclick="updatePage('<%= previous %>')"><i
                                                        class="fa fa-angle-left"></i></a>
                                            </li>
                                            <% for(i=1;i<=totalPages;i++){ %>
                                                <li>
                                                    <a href="#" onclick="updatePage('<%= i %>')">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } %>

                                                    <li>
                                                        <a href="#" onclick="updatePage('<%= next %>')"><i
                                                                class="fa fa-angle-right"></i></a>
                                                    </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="text-center">
                            <h4>No orders found.</h4>
                        </div>
                    <% } %>


                </div>
            </div>
        </div>



        <script>
            function updatePage(page) {
                var currentURL = new URL(window.location.href);

                // Set or append the 'page' parameter in the URL
                if (currentURL.searchParams.has('page')) {
                    currentURL.searchParams.set('page', page);
                } else {
                    currentURL.searchParams.append('page', page);
                }

                // Remove the fragment identifier (hash)
                currentURL.hash = '';

                // Update the window location
                window.location.href = currentURL.toString();
            }
        </script>





        <%- include('../layout/user/footbar.ejs') %>
            <%- include('../layout/user/footer.ejs') %>