
<%- include('../layout/user/header.ejs') %>
<%- include('../layout/user/navbar.ejs') %>

 <style>
     .address-table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

    .address-table th, .address-table td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    .address-table th {
        background-color: #929292;
    }
       

       
    .modal-content {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.modal-header {
    background-color: #6c757d;
    color: white;
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    color: #333;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: none;
}

/* Customize close button */
.btn-close {
    color: white;
}

/* Customize confirm cancel button */
#confirmCancelBtn {
    background-color: #dc3545;
    color: white;
}

#confirmCancelBtn:hover {
    background-color: #c82333;
}

/* Optional: Adjust input field styling */
#cancelReason {
    border-radius: 5px;
    border: 1px solid #ced4da;
}
        
    </style>
    


<!-- Breadcrumb Section -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top: 100px;">
                <h2>Order Details</h2>
                <div class="breadcrumb-text">
                    <a style="color: black; text-decoration: none; " href="/profile">Pofile</a> >
                    <a style="color: black; text-decoration: none; " href="/orderHistory">OrderHistory</a> >
                    <span>Order Details</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container-fluid ">
    <div class="main-body">
        <div class="row">
            <div class="col-md-3 mb-3">
                
                <div class="card mt-3">
                    <div class="user-headerrr">
                        <div class="menu-itemmm"><h2 style="margin-left: 4rem; margin-top: 1rem;">Order Details</h2></div><hr>
                      </div>
                
                      <!-- Sidebar Menu -->
                  
                      <div class="menu-itemmm" ><i class="fa-regular fa-user" style="margin-left: 10px;"> <a style="text-decoration: none;" href="/profile">Profile</a></i>
                      </div><hr>
                      <div class="menu-itemmm" ><i class="fa-solid fa-address-card"style="margin-left: 10px;"> <a style="text-decoration: none;" href="/address  ">Address</a></i></div><hr>
                      <!-- <div class="menu-itemmm"><a href="/wishlist">Wishlist</a></div><hr> -->
                      <div class="menu-itemmm"><i class="fa-solid fa-wallet"style="margin-left: 10px; "> <a style="text-decoration: none;" href="cart.html">Wallet</a></i></div><hr>
                      
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" >
                    <div class=" card col-md-6" style="margin-left: 2rem;margin-top: 1rem;">
                        <div class=""><span class=""><strong>Delivery Address</strong></span></div>
                        <div class="">
                            <div class="">
                                <div class="">
                                    Name : <%= orders.deliveryAddress.name %>
                                </div>
                            </div>
                            <div class="">
                                Email : <%= orders.userId.email %>
                            </div>
                            <div class="">
                                Pincode : <%= orders.deliveryAddress.pin %>
                            </div>
                            <div class="">
                                <div><span class="">phone Number : <%= orders.deliveryAddress.phone %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <!-- <a class="btn btn-lg btn-primary mt-5" href="/invoice?orderId">
                                Download Invoice
                            </a>
                        -->
                        <div>

                        </div>
                    </div>
                </div> 
            </div>
            <div class="row" style="margin-bottom: 5rem;">
                <div class="col-lg-12">
                    <div class="table-responsive mt-5">

                    
                        <table class="address-table" id="Reload" >
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <% orders.products.forEach((product,i)=>{ %>
                                    <% let amout = product.productId.productPrice*product.quantity %>
                                <tr>
                                        <td><%= i+1 %></td>
                                        <td><b> <img src="/admin/assets/images/product/sharpedproduct/<%= product.productId.image[0] %>" alt="" style="width: 80px; height: 80px;"> </b></td>
                                        <td><%= orders.deliveryAddress.name %></td>
                                        <td> ₹ <%= product.productId.productPrice %></td>
                                        <td><%= product.quantity %></td>
                                        <td><%= amout %> </td>
                                        <td><span class=" " style="font-weight: 900;"><%= product.status %></span></td>
                                        <td><%= orders.date.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true }) %></td>
                                        <% if (product.status != "cancelled" && product.status != "delivered" && product.status != "returnRequested" ) { %>
                                            <td class="text-right-cell">
                                                <button class="btn btn-danger cancelOrderBtn" data-bs-toggle="modal" data-bs-target="#cancelOrderModal_<%= i %>">Cancel</button>
                                            </td>
                                        <% } else if (product.status == "delivered") { %>
                                            <td class="text-right-cell">
                                                <button class="btn btn-danger returnOrderBtn" data-bs-toggle="modal" data-bs-target="#returnOrderModal_<%= i %>">Return</button>
                                            </td>
                                        <% } else { %>
                                            <td><h5 style="color: #c82333;"><%= product.status %></h5></td>
                                        <% } %>
                                                    <!-- Modal for Cancel -->
                                            <div class="modal fade" id="cancelOrderModal_<%= i %>" tabindex="-1" aria-labelledby="cancelOrderModalLabel_<%= i %>" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="cancelOrderForm_<%= i %>">
                                                                <div class="mb-3">
                                                                    <label for="cancelReason_<%= i %>" class="form-label">Reason for Canceling:</label>
                                                                    <input required type="text" class="form-control" id="cancelReason_<%= i %>" placeholder="Enter reason">
                                                                    <div id="fieldError_<%= i %>" class="form-text" style="color: red;"></div>
                                                                </div>
                                                                <div class="d-flex justify-content-end">
                                                                    <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Go Back</button>
                                                                    <button type="button" class="btn btn-danger" onclick="validateAndCancel('<%= product._id %>', '<%= orders._id %>', '<%= i %>')">Confirm Cancel</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                                <!-- Modal for Return -->
                                            <div class="modal fade" id="returnOrderModal_<%= i %>" tabindex="-1" aria-labelledby="returnOrderModalLabel_<%= i %>" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Return Order</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="returnOrderForm_<%= i %>">
                                                                <div class="mb-3">
                                                                    <label for="returnReason_<%= i %>" class="form-label">Reason for Returning:</label>
                                                                    <input required type="text" class="form-control" id="returnReason_<%= i %>" placeholder="Enter reason">
                                                                    <div id="returnFieldError_<%= i %>" class="form-text" style="color: red;"></div>
                                                                </div>
                                                                <div class="d-flex justify-content-end">
                                                                    <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Go Back</button>
                                                                    <button type="button" class="btn btn-danger" onclick="validateAndReturn('<%= product._id %>', '<%= orders._id %>', '<%= i %>')">Confirm Return</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <% }) %>
                                        <tr>
                                           
                                            
                                        <td colspan="8" class="text-right-cell"><strong>Total Price:</strong></td>
                                        <td class="text-right-cell"><strong>₹ <%= orders.totalAmount %></strong></td> 
                                        

                                       </tr>
                                </tr>
                                
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
     </div>
       
    </div>
</div>





  <script>
    // Wait for the DOM to be ready
    document.addEventListener("DOMContentLoaded", function() {
        // Get the cancel order button
        var cancelOrderBtn = document.getElementById("cancelOrderBtn");

        // Add event listener for the click event
        cancelOrderBtn.addEventListener("click", function() {
            // Show the Bootstrap modal
            var cancelOrderModal = new bootstrap.Modal(document.getElementById('cancelOrderModal'));
            cancelOrderModal.show();
        });
    });
</script>

              <script>
                function validateAndCancel(productId, orderId, index) {

                    const reasonField = document.getElementById(`cancelReason_${index}`);
                    const reason = reasonField.value.trim();
                    const errorField = document.getElementById(`fieldError_${index}`);
                    
                    if (reason === "") {
                        errorField.innerText = "Please enter a reason for canceling.";
                    } else {
                        errorField.innerText = "";
                        
                        const data = {
                            productId: productId,
                            orderId: orderId,
                            reason: reason
                        };

                        fetch('/cancelOrder', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data)
                        }).then((response) => {
                            if (response.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Canceled',
                                    showConfirmButton: false
                                });
                                setTimeout(() => {
                                    location.reload();
                                }, 2000);
                            }
                        })
                    }
                }

                function validateAndReturn(productId, orderId, index) {
    const reasonField = document.getElementById(`returnReason_${index}`);
    const reason = reasonField.value.trim();
    const errorField = document.getElementById(`returnFieldError_${index}`);
    
    if (reason === "") {
        errorField.innerText = "Please enter a reason for returning.";
    } else {
        errorField.innerText = "";
        
        const data = {
            productId: productId,
            orderId: orderId,
            reason: reason
        };

        fetch('/returnOrderRequest', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }).then((response) => {
            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: 'Order Returned',
                    showConfirmButton: false
                });
                setTimeout(() => {
                    location.reload();
                }, 2000);
            }
        }).catch((error) => {
            console.error('Error:', error);
        });
    }
}

              </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    
<%-include('../layout/user/footbar.ejs') %>
<%-include('../layout/user/footer.ejs') %>



