<%- include('../layout/user/header.ejs') %>

	<%- include('../layout/user/navbar.ejs') %>
		<style>
			.otpcard {
				margin-top: -7rem;
				margin-bottom: -4rem;
			}

			.card {
				width: 350px;
				padding: 10px;
				border-radius: 20px;
				background: #fff;
				border: none;
				height: 350px;
				position: relative;
			}

			.containerr {
				height: 100vh;
			}

			.mobile-text {
				color: #989696b8;
				font-size: 15px;
			}

			.form-control {
				margin-right: 12px;
			}

			.form-control:focus {
				color: #495057;
				background-color: #fff;
				border-color: #ff8880;
				outline: 0;
				box-shadow: none;
			}

			.cursor {
				cursor: pointer;
			}

			.time {
				font-size: 1rem;
				font-weight: bold;
				color: #333;
			}
		</style>





		<div class="d-flex justify-content-center align-items-center containerr pt-5 otpcard">
			<div class="card py-5 px-3">
				<% if (locals.message) { %>
					<div class="alert alert-danger d-flex align-items-center" role="alert" id="existAlert">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
							class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 " viewBox="0 0 16 16" role="img"
							aria-label="Warning:">
							<path
								d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
						</svg>
						<div>
							<strong>Hey !</strong>
							<%= message %>

						</div>
					</div>
					<% } %>

						<form id="verificationForm" onsubmit="return validateForm()" method="post" action=""
							style="margin-top: 2rem;">


							<% if(locals.email) { %>
								<input type="hidden" name="email" value="<%= email %>">
								<% } %>
									<h5 class="m-0">E-mail verification</h5>
									<%if(messages.incorrect) {%>

										<div class="alert alert-danger d-flex align-items-center  " role="alert"
											id="error-alert">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												fill="currentColor"
												class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 "
												viewBox="0 0 16 16" role="img" aria-label="Warning:">
												<path
													d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
											</svg>
											<div>
												<strong>Hey !</strong>
												<%= messages.incorrect %>
											</div>
										</div>
										<%}%>
											<%if(messages.expire) {%>

												<div class="alert alert-danger d-flex align-items-center  " role="alert"
													id="error-alert">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
														fill="currentColor"
														class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 "
														viewBox="0 0 16 16" role="img" aria-label="Warning:">
														<path
															d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
													</svg>
													<div>
														<strong>Hey !</strong>
														<%= messages.expire %>
													</div>
												</div>
												<%}%>
													<span class="mobile-text">Enter the code we just sent to your Email
														<b class="text-danger">
															<%= locals.email %>
														</b></span>
													<div class="d-flex flex-row mt-5">
														<input type="text" class="form-control" id="digit1"
															name="digit1" maxlength="1" oninput="moveToNext(this)"
															autofocus required>
														<input type="text" class="form-control" id="digit2"
															name="digit2" maxlength="1" oninput="moveToNext(this)"
															required>
														<input type="text" class="form-control" id="digit3"
															name="digit3" maxlength="1" oninput="moveToNext(this)"
															required>
														<input type="text" class="form-control" id="digit4"
															name="digit4" maxlength="1" oninput="moveToNext(this)"
															required>
													</div>
													<button type="submit" class="btn d-block w-100 my-4"
														style="background-color: #198754;">Submit</button>
						</form>
						<span class="time text-center" id="time"></span>
						<div class="text-center ">
							<span class="d-block mobile-text">Don't receive the code?</span>
							<span class="font-weight-bold text-danger cursor" id="resend">Resend</span>
						</div>
			</div>
		</div>
		<%-include('.. /layout/user/footbar.ejs') %>
			<%-include('.. /layout/user/footer.ejs') %>





				<script>
					// <<<<<<<<<<<<<<<<<<<<<<<<<<<OTP resend>>>>>>>>>>>>>>>>>>>>>>>>>>




					function resend() {
						console.log("Hello");
						clearInterval(countdownInterval);
						startCountdown(60);
					}

					let countdownInterval;

					function startCountdown(initialValue) {
						let val = initialValue;
						countdownInterval = setInterval(() => {
							if (val === 0) {
								clearInterval(countdownInterval)
							}
							document.querySelector('#time').innerHTML = `${val}`;
							val = val - 1;
						}, 1000);
					}

					startCountdown(60);

					document.getElementById('resend').addEventListener('click', function () {
						resend();
					});



					function moveToNext(currentInput) {
						const maxLength = parseInt(currentInput.getAttribute('maxlength'), 10);
						const value = currentInput.value;

						if (value.length === maxLength) {
							const nextInput = currentInput.nextElementSibling;

							if (nextInput) {
								nextInput.focus();
							}
						}
					}
				</script>
				<%- include('../layout/user/footer.ejs') %>