  
<%-include('../layout/user/header.ejs') %>

<%-include('../layout/user/navbar.ejs') %>

		<section class="product-content section-padding"  style="margin-top: 30px;">
			<!-- Breadcrumb Section -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Shop</h2>
                <div class="breadcrumb-text">
                    <a style="color: black; text-decoration: none;" href="/">Home</a> >
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</section>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="shop-menu clearfix">
							<div class="left floatleft">
								<div class="tab-menu view-mode nav">
									<a class="grid active" data-bs-toggle="tab" href="#grid"><i class="fa fa-th"></i></a>
									<a class="list" data-bs-toggle="tab" href="#list"><i class="fa fa-bars"></i></a>
								</div>
							</div>
							<div class="right floatright">
								<ul>
									<li>
										<div class="custom-select"style="margin-top: 5px;">
											<select class="form-control" id="sortby" onchange="window.location.href=this.value"  >
												<option value="">Select</option>
												<option value="/shop">All</option>
												<option value="/shop?sort=Aa-Zz" >Aa - Zz</option>
												<option value="/shop?sort=Low-High" >Price Low to High </option>
												<option value="/shop?sort=High-Low" >Price High to Low</option>
												<option value="/shop?sort=NewArivals" >New Arivals</option>
											</select>
										</div>
										<p>Short By</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="tab-content">
						<div class="tab-pane fade show active text-center" id="grid">
							<div class="single-products row">
								<% if(Array.isArray(products)){  %>
								 <% products.forEach((product,index)=>{ %>
								
								<div class="col-md-4">
										<div class="product-item margin40">
											<div class="pro-img">
												<a href="/productDetails?id=<%= product._id %>"><img src="/admin/assets/images/product/sharpedproduct/<%= product.image[0] %>" width="360" height="409" alt="Product" /></a>
												<!-- <div class="tag-n-s">
													<span>Sell</span>	
												</div> -->
												<div class="actions-btn">
													<ul class="clearfix">
														<li>
															<a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
														</li>
														<li>
															<a href="#"><i class="fa fa-heart"></i></a>
														</li>
														<li>
															<a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="fa fa-eye"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-title">  
												<a href="product-details.html"><h3 class="title"><%= product.productName %></h3></a>
												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star gray-star"></i>
												</div>
												<p><span> ₹ <%= product.productPrice %></span></p>
											</div>
										</div>
										
									</div>
									<% }) %>
								   <%}%>
						   
							</div>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="shop-menu clearfix margin-close">
							<div class="right floatright text-center">
								<div class="pagnation-ul">
									<ul class="clearfix">
										<li>
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li class="dot-dot">
											<a href="#">.....</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-angle-right"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- product content section end -->
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				
				function getCategoryIdFromUrl() {
					const urlParams = new URLSearchParams(window.location.search);
					return urlParams.get('sort');
				}
		
				// Function to set the selected option based on the category ID
				function setSelectedCategory(categoryId) {
					const selectElement = document.getElementById('sortby');
					const options = selectElement.options;
					for (let i = 0; i < options.length; i++) {
						if (options[i].value.includes(categoryId)) {
							selectElement.value = options[i].value;
							break;
						}
					}
				}
		
				// Get the category ID from the URL and set the selected option
				const categoryId = getCategoryIdFromUrl();
				if (categoryId) {
					setSelectedCategory(categoryId);
				}
			});
		</script>
		
            <%- include('../layout/user/footbar.ejs') %>
            <%- include('../layout/user/footer.ejs') %>