<%- include('../layout/user/header.ejs') %>

	<header>
		<div id="sticky-menu" class="header-bottom"
			style=" margin-right: 2rem; display: flex; align-items: center; justify-content: space-between;">
			<div class="row" style="display: flex; align-items: center; width: 100%;">

				<div class="logo floatleft" style="width: 10%;">
					<a style="margin-left: 2rem;" href="/">
						<img src="/img/Wide White.jpg" width="139" height="60" alt="Rideo" />
					</a>
				</div>

				<div class="mainmenu text-center" style="width: 90%;">
					<nav style="display: flex;" class="">

						<ul style="margin-left: 15rem;">
							<li><a style="text-decoration: none;" href="/">Home</a></li>

							<li><a style="text-decoration: none;" href="/about">about</a></li>

							<li><a style="text-decoration: none;" href="#">Pages</a>
								<ul>
									<li>
										<a href="/profile">My account</a>
									</li>
									<li>
										<a href="/wishlist">Wishlist</a>
									</li>
									<li>
										<a href="/cart">Cart</a>
									</li>
									<li>
										<a href="/about">About</a>
									</li>
									<li>
										<a href="/contact">Contact</a>
									</li>
									<li>
										<a href="/shop">Shop</a>
									</li>

									<li>
										<a href="product-details.html">Product Details</a>
									</li>
								</ul>
							</li>

							<li>
								<a style="text-decoration: none;" href="/contact">contact</a>
							</li>


						</ul>



						<div style="display: flex; align-items: center; ">
							<!-- Search Box -->
							<div style="margin-left: 10rem;">
								<input type="text" id="search" placeholder="Search..."
									style="color: #000000; background-color: rgb(209, 209, 209); border: 1px solid #ffffff; border-radius: 5px;">

							</div>



							<!-- User Icon and Dropdown -->
							<div class="cart-menu-area" style="margin-left: 5rem;">
								<ul>
									<li class="user-icon-dropdown">
										<% if(locals.user){ %>
											<a href="/profile"><i class="fa-regular fa-user"
													style="color: #ffffff; font-size: 20px;"></i></a>
											<ul class="cart-menu ">
												<li class="cart-menu-btn">
													<a style=" background-color: #e9e9e9; text-decoration: none;"
														href="/logout">Logout</a>
													<a style=" background-color: #e9e9e9; text-decoration: none;"
														href="/profile">Profile</a>
													<% }else { %>
														<a href="/login"><i class="fa-regular fa-user"
																style="color: #ffffff; font-size: 20px;"></i></a>
														<ul class="cart-menu ">
															<li class="cart-menu-btn">
																<a style="margin-left: 4rem; margin-bottom: 1rem; background-color: #e9e9e9; text-decoration: none;"
																	href="/login">Login</a>

																<% } %>
															</li>

														</ul>
												</li>
											</ul>
							</div>

							<!-- Cart Icon and Dropdown -->
							<div class="cart-menu-area">
								<ul>
									<% if(locals.user){ %>
										<li>
											<a href="/cart">
												<i class="fa-solid fa-cart-shopping"
													style="color: #ffffff; font-size: 21px;"></i>
												<!-- Add a placeholder for the count -->
												<% if(locals.cartDetais && cartDetais.products &&
													cartDetais.products.length> 0 ){ %>
													<span>
														<%= locals.cartDetais.products.length %>
													</span>
													<% } %>
											</a>
											<ul class="cart-menu">
												<!-- Additional cart items -->
												<li class="cart-menu-btn">
													<a style="background-color: #e9e9e9; text-decoration: none;"
														href="/cart">view cart</a>
													<a style="background-color: #e9e9e9; text-decoration: none;"
														href="/wishlist">view wishlist</a>
												</li>
											</ul>
										</li>
										<% } else { %>
											<li>
												<a href="/login">
													<i class="fa-solid fa-cart-shopping"
														style="color: #ffffff; font-size: 21px;"></i>
												</a>
												<ul class="cart-menu">
													<li class="cart-menu-btn">
														<a style="margin-left: 4rem; margin-bottom: 1rem; background-color: #e9e9e9; text-decoration: none;"
															href="/login">Login</a>
													</li>
												</ul>
											</li>
											<% } %>
								</ul>
							</div>

						</div>

					</nav>
				</div>

				<!-- mobile menu start -->
				<div class="mobile-menu-area">

					<div class="mobile-menu">
						<nav id="dropdown">
							<ul>
								<li><a href="index.html">Home</a>
									<ul>
										<li>
											<a href="index.html">Home Version One</a>
										</li>
										<li>
											<a href="index-2.html">Home Version Two</a>
										</li>
										<li>
											<a href="index-3.html">Home Version Three</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="shop.html">products</a>
									<ul>
										<li>
											<h5>men’s bikes</h5>
											<ul>
												<li>
													<a href="#">T Mounten bike</a>
												</li>
												<li>
													<a href="#">M Mounten bike</a>
												</li>
												<li>
													<a href="#">T Mounten bike</a>
												</li>
												<li>
													<a href="#">L Mounten bike</a>
												</li>
												<li>
													<a href="#">T Mounten bike</a>
												</li>
												<li>
													<a href="#">T Mounten bike</a>
												</li>
												<li>
													<a href="#">T Mounten bike</a>
												</li>
											</ul>
										</li>
										<li>
											<h5>Accessories</h5>
											<ul>
												<li>
													<a href="#">Giro Cipher Helmet</a>
												</li>
												<li>
													<a href="#">Mountain Helmet</a>
												</li>
												<li>
													<a href="#">Mountain Helmet</a>
												</li>
												<li>
													<a href="#">Giro Cipher Helmet</a>
												</li>
												<li>
													<a href="#">Giro Helmet</a>
												</li>
												<li>
													<a href="#">Giro Helmet</a>
												</li>
												<li>
													<a href="#">Mountain Helmet</a>
												</li>
											</ul>
										</li>
										<li>
											<h5>women’s bikes</h5>
											<ul>
												<li>
													<a href="#">Mount POW bike</a>
												</li>
												<li>
													<a href="#">Mount POW bike</a>
												</li>
												<li>
													<a href="#">Mount POW bike</a>
												</li>
												<li>
													<a href="#">Mount POW bike</a>
												</li>
												<li>
													<a href="#">Mount POW bike</a>
												</li>
												<li>
													<a href="#">Mount POW bike</a>
												</li>
												<li>
													<a href="#">Mount POW bike</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="/about">about</a></li>
								<li><a href="blog-1.html">blog</a>
									<ul>
										<li>
											<a href="blog-1.html">Blog Style One</a>
										</li>
										<li>
											<a href="blog-2.html">Blog Style Two</a>
										</li>
										<li>
											<a href="single-blog.html">Single Blog</a>
										</li>
									</ul>
								</li>
								<li><a href="#">Pages</a>
									<ul>
										<li>
											<a href="login.html">Login</a>
										</li>
										<li>
											<a href="my-account.html">My account</a>
										</li>
										<li>
											<a href="checkout.html">CheckOut</a>
										</li>
										<li>
											<a href="wishlist.html">Wishlist</a>
										</li>
										<li>
											<a href="cart.html">Cart</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
										<li>
											<a href="shop.html">Shop</a>
										</li>
										<li>
											<a href="shop-list-left.html">Shop Left List View</a>
										</li>
										<li>
											<a href="shop-list-right.html">Shop Right List View</a>
										</li>
										<li>
											<a href="shop-gird-left.html">Shop Left Gird View</a>
										</li>
										<li>
											<a href="shop-gird-right.html">Shop Right Gird View</a>
										</li>
										<li>
											<a href="product-details.html">Product Details</a>
										</li>
										<li>
											<a href="error-404.html">404 Error</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="contact.html">contact</a>
								</li>
							</ul>
						</nav>
					</div>

				</div>
				<!-- mobile menu end -->

			</div>
		</div>
	</header>
	<style>
		.header-bottom {
			background-color: #000;
			width: 100%;
			position: fixed;
			top: 0;
			z-index: 1000;
			transition: background-color 0.3s ease-in-out;
		}

		.header-bottom.sticky {
			background-color: #000;
			/* Change this to your desired background color */
		}
	</style>

	<section class="product-content section-padding" style="margin-top: 30px;">
		<!-- Breadcrumb Section -->
		<section class="breadcrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>Shop</h2>
						<div class="breadcrumb-text">
							<a style="color: black; text-decoration: none;" href="/">Home</a> >
							<span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="shop-menu clearfix">
						<div class="left floatleft">
							<div class="tab-menu view-mode nav">
								<a class="grid active" data-bs-toggle="tab" href="#grid"><i class="fa fa-th"></i></a>
								<a class="list" data-bs-toggle="tab" href="#list"><i class="fa fa-bars"></i></a>
							</div>
						</div>
						<div class="right floatright">
							<ul>

								<li>
									<div class="custom-select" style="margin-top: 5px;">
										<select class="form-control" id="category" onchange="updateURL(this.value)">
											<option value="">Select</option>
											<% for(let i=0; i < category.length; i++) { %>
												<option value="<%= category[i].categoryName %>">
													<%= category[i].categoryName %>
												</option>
												<% } %>
										</select>

									</div>
									<p><strong>Categoty</strong></p>
								</li>


								<li>
									<div class="custom-select" style="margin-top: 5px;">
										<select class="form-control" id="sortby" onchange="updatesort(this.value)">
											<option value="">Select</option>
											<option value="Aa-Zz">Aa - Zz</option>
											<option value="Low-High">Price Low to High </option>
											<option value="High-Low">Price High to Low</option>
											<option value="NewArivals">New Arivals</option>
										</select>
									</div>
									<p> <strong>Short By</strong></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="tab-content">
					<div class="tab-pane fade show active text-center" id="grid">
						<div class="single-products row">
							<% if(Array.isArray(products)){ %>
								<% products.forEach((product,index)=>{ %>

									<div class="col-md-4">
										<div class="product-item margin40">
											<div class="pro-img">
												<a href="/productDetails?id=<%= product._id %>"><img
														src="/admin/assets/images/product/sharpedproduct/<%= product.image[0] %>"
														width="360" height="409" alt="Product" /></a>
												

											</div>
											<div class="product-title">
												<a href="product-details.html">
													<h3 class="title">
														<%= product.productName %>
													</h3>
												</a>
												<div class="ratting">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star gray-star"></i>
												</div>
												<p><span> ₹ <%= product.productPrice %></span></p>
											</div>
										</div>

									</div>
									<% }) %>
										<%}%>

						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="shop-menu clearfix margin-close">
						<div class="right floatright text-center">
							<div class="pagnation-ul">
								<ul class="clearfix">

									<li>
										<a onclick="updatePage('<%= previous %>')"><i class="fa fa-angle-left"></i></a>
									</li>
									<% for(let i=1; i <=totalPages; i++) { %>
										<li>
											<a href="#" onclick="updatePage('<%= i %>')">
												<%= i %>
											</a>
										</li>
										<% } %>
											<li>
												<a href="#" onclick="updatePage('<%= next %>')"><i
														class="fa fa-angle-right"></i></a>
											</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<script>




		function updateURL(categoryName) {
			// Get the current URL
			let currentURL = new URL(window.location.href);

			// Remove existing sort parameter if it exists
			currentURL.searchParams.delete('category');

			// Set the new sort parameter with the selected value
			if (categoryName) {
				currentURL.searchParams.set('category', categoryName);
			}

			// Redirect to the updated URL
			window.location.href = currentURL.toString();
		}

		function updatesort(value) {
			// Get the current URL
			let currentURL = new URL(window.location.href);

			currentURL.searchParams.delete('sort');

			if (value) {
				currentURL.searchParams.set('sort', value);
			}

			// Redirect to the updated URL
			window.location.href = currentURL.toString();
		}


		function updatePage(action) {
			let currentURL = new URL(window.location.href);
			let existingPage = parseInt(currentURL.searchParams.get('page')) || 1; // Parse the existingPage to integer and default to 1
			let newPage;

			if (action === 'next') {
				newPage = existingPage + 1;
			} else if (action === 'previous') {
				newPage = existingPage - 1;
			} else {
				newPage = parseInt(action) || 1; // Parse action to integer and default to 1
			}

			// Ensure newPage is within valid range
			if (newPage < 1) {
				newPage = 1;
			}

			// Set or append the 'page' parameter in the URL
			currentURL.searchParams.set('page', newPage);

			// Remove the fragment identifier (hash)
			currentURL.hash = '';

			// Update the window location
			window.location.href = currentURL.toString();
		}

	</script>



	<script>
		document.addEventListener("DOMContentLoaded", function () {

			function getsortFromUrl() {
				const urlParams = new URLSearchParams(window.location.search);

				return urlParams.get('sort');
			}


			function getCategoryIdFromUrl() {
				const urlParams = new URLSearchParams(window.location.search);

				return urlParams.get('category');
			}

			// Function to set the selected option based on the category ID
			function setSelectedSort(sort) {
				const selectElement = document.getElementById('sortby');


				const options = selectElement.options;


				for (let i = 0; i < options.length; i++) {
					if (options[i].value.includes(sort)) {
						selectElement.value = options[i].value;
						break;
					}
				}

			}

			function setSelectedCategory(categoryId) {
				const selectElement = document.getElementById('category');


				const options = selectElement.options;


				for (let i = 0; i < options.length; i++) {
					if (options[i].value.includes(categoryId)) {
						selectElement.value = options[i].value;
						break;
					}
				}

			}

			// Get the category ID from the URL and set the selected option
			const sort = getsortFromUrl();
			if (sort) {
				setSelectedSort(sort);
			}
			const category = getCategoryIdFromUrl();
			if (category) {
				setSelectedCategory(category);
			}
		});


		document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById('search');
    const products = document.querySelectorAll('.single-products .col-md-4');

    searchInput.addEventListener("input", function () {
        const searchString = searchInput.value.trim().toLowerCase(); // Convert search string to lowercase

        products.forEach(product => {
            const productName = product.querySelector('.product-title h3').innerText.toLowerCase(); // Convert product name to lowercase
            const firstLetters = productName.slice(0, searchString.length);

            // Check if the first letters of the lowercase product name match the lowercase search string
            if (firstLetters === searchString) {
                product.style.display = "block";
            } else {
                product.style.display = "none";
            }
        });
    });
});





// 			const name = document.getElementById('search').value;
// 			const category = getCategoryNameFromUrl();
// 			let url;
// 			if (category) {

// 				url = `/shop?category=${category}&search=${name}`

// 			} else {
// 				url = `/shop?search=${name}`

// 			}
// 			console.log("dfds");
// 			let  data = {name:name,search:category}
// 			console.log(url);
// 			fetch(url,{
// 				method:'POST',
// 				headers:{
// 					'Content-Type': 'application/json'

// 				},
// 				body:JSON.stringify(data)

// 			}).then((response)=>response.json())
// 			.then((result)=>{
// 				console.log(result.data);
// 				document.getElementById('results').innerHTML = JSON.stringify(data)
// 			})
			

// 		}
// // Function to extract only the category name from the URL using split
// function getCategoryNameFromUrl() {
//     // Get the current URL
//     const url = window.location.href;

//     // Split the URL by '?' to get the query string
//     const queryString = url?.split('?')[1];

//     // Split the query string by '&' to get individual parameters
//     const params = queryString?.split('&');
// if (params) {
// 	for (const param of params) {
//         // Split each parameter by '=' to get the parameter name and value
//         const [name, value] = param.split('=');

//         // Check if the parameter is 'category'
//         if (name === 'category') {
//             // Return the value of the category parameter
//             return value;
//         }
//     }
// }
//     // Loop through the parameters to find the category parameter
  

//     // Return null if the category parameter is not found
//     return null;
// }

	</script>




	
	<%- include('../layout/user/footbar.ejs') %>
		<%- include('../layout/user/footer.ejs') %>